body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #272727;
}
html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    text-align: center;
    overflow-x: hidden;
}

/* -------------------------header---------------------- */
header{
    width: 100%;
    height: 10vh;
    background-color: aqua;
}
/* -------------------------//////---------------------- */


/* --------------------------- Body ------------------------------- */
#container-song{
    max-width: 400px;
    padding: 5px;
}
#container-song-render > div{
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

#container-song #container-song-render .song-infor{
    height: 330px;
    background-color: blueviolet;
}
#container-song #container-song-render .img-song > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: rotateImg 20s linear infinite;
    z-index: 9;
}
.img-song{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#container-song #container-song-render .control-bar{
    z-index: 99;
}

#container-song #container-song-render .control-bar > button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
}
#container-song #container-song-render .control-bar button[name="pause-btn"]{
    display: none;
}
#container-song #container-song-render .prossesses-bar{
    width: 90%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.77);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
}

#container-song-render .prossesses-bar > button{
    position: absolute;
    background-color: rgba(201, 0, 0, 0.879);
    border: none;
    height: 6px;
    width: 0px;
    /* display: none; */
    /* border-radius: 50%; */
    padding-inline: 0px;
    padding-block: 0px;
}


/* -------- */

#container-song #container-song-render .container-songList{
    /* height: 50vh; */
    background-color: pink;
}

.container-songList .song{
    background-color: #0f0f0fe8;
    text-align: left;
    color: white;
    padding: 5px;
    border-radius: 3px;
    height: 55px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px rgb(84, 73, 73);
    max-height: 55px;
}
.container-songList .song .img-mini img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container-songList .song .img-mini{
    
}
.container-songList .song .more,
.container-songList .song .nameSong,
.container-songList .song .author{
    max-width: 90%;
    overflow: hidden;
    font-size: 14px;
    /* text-wrap: ; */
}

.container-songList .song .nameSong{
    height: 25px;
    /* border: 1px solid black; */
    display: block;
    margin-left: 15px;
    margin-top: 5px;
}

.container-songList .song .author{
    display: block;
    font-size: 12px;
    text-align: right;
    color: #6d6a6a;
}

.more{
    display: inline-block;
    /* position: relative;
    top: 15px;
    left: 6px;
    width: 5px; */
}

#container-song #container-song-render .container-songLyrics{
    display: none;
}

.control-bar .active{
    background-color: #ffffff00;
}

.control-bar .active i{
    color: #b300ff;
}

.container-songList .active{
    background-color: #4d4d4deb ;
}

.infor-song{
    display: inline-block;
    /* background-color: red; */
    width: 70%;
    /* position: relative;
    top:-15px;
    left: 10px; */
    /* max-height: 90%; */
    height: 100%;
}

.row{
    display: block;
    float: left;
    /* border: 1px solid black; */
}
/* ---------------------------///// ------------------------------- */
