body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #272727;
}
html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    text-align: center;
    overflow-x: hidden;
}

/* -------------------------header---------------------- */
header{
    width: 100%;
    height: 10vh;
    background-color: aqua;
}
/* -------------------------//////---------------------- */


/* --------------------------- Body ------------------------------- */
.container-song{
    max-width: 400px;
    padding: 5px;  
}
.container-song> div{
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}
.song-onplay{
    background-color: #b300ff;
    max-width: 370px;
    max-height: 360px;
    width: 380px;
    height: 360px;
    padding: 5px;
}

.container-song .song-onplay .song-infor{
    height: 250px;
    background-color: blueviolet;
}
.container-song .song-onplay .song-img > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: rotateImg 20s linear infinite;
    z-index: 9;
}
.song-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.container-song .song-control{
    z-index: 99;
}

.song-control-button button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
}
#pause-btn{
    display: none;
}
.container-song .song-control .song-prosseses{
    width: 90%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.77);
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
}

.container-song .song-control .control-time{
    width: 100%;
    border: 1px solid white;
    padding-bottom: 5px;
    max-height: 20px;
    height: 20px;
}

.container-song .song-control .control-time  div{
    text-align: left;
    display: inline-block;
    font-size: 11px;
}

.container-song .song-control .song-prosseses .prosseses,
.container-song .song-control .song-prosseses .time-play{
    position: absolute;
    background-color: rgba(201, 0, 0, 0.879);
    border: none;
    height: 6px;
    width: 0px;
    /* display: none; */
    /* border-radius: 50%; */
    padding-inline: 0px;
    padding-block: 0px;
}

.song-prosseses{
    width: 80% !important;
    
}

/* -------- */

.volume-control{
    text-align: left;
    width: 100px;
    
}

.volume-control div{
    display: inline-block;
}

#volume-icon{
    width: 15%;
}
.volume-box{
    width: 80%;
    display: none;
    position: relative;
    top: -4.5px;
}

.volume-box div{
    display: none;
}

.song-list .song-tag{
    background-color: #0f0f0fe8;
    text-align: left;
    color: white;
    padding: 5px;
    border-radius: 3px;
    height: 55px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px rgb(84, 73, 73);
    max-height: 55px;
}
.song-list .song-tag .song-img-mini img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.song-tag .song-img-mini{
    display: inline-block;
}
.song-list .song-tag .song .more-infro,
.song-list .song-tag .song .name-song,
.song-list .song-tag .song .name-author{
    max-width: 90%;
    overflow: hidden;
    font-size: 14px;
    /* text-wrap: ; */
}

.song-list .song-tag .song .name-song{
    height: 25px;
    /* border: 1px solid black; */
    display: block;
    margin-left: 15px;
    margin-top: 5px;
}

.song-list .song-tag .song .name-author{
    display: block;
    font-size: 12px;
    text-align: right;
    color: #6d6a6a;
}

.more-infor{
    display: inline-block;
    position: relative;
    top:-15px;
    background-color: rgba(119, 119, 119, 0);
}

.more-infor button{
    width: 3px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
}

.box-lyrics{
    display: none;
}

.song-control-button .active i{
    color: #ff0000;
}

.song-list .song-tag .active{
    background-color: #4d4d4deb ;
    border-radius: 2px;
    width: 100%;
    
}

.song-infor{
    display: inline-block;
    /* background-color: red; */
    width: 70%;
    /* position: relative;
    top:-15px;
    left: 10px; */
    /* max-height: 90%; */
    height: 100%;
}

.row{
    display: block;
    float: left;
    /* border: 1px solid black; */
}

.volume-control.active{
    background-color: aquamarine !important;
}
/* ---------------------------///// ------------------------------- */
